DB_STRING=mongodb+srv://<user>:<pass>@<cluster>/<db>?retryWrites=true&w=majority
MONGODB_DB=outlawdb
PORT=8787
MAP_TILES_ROAD=/tiles/road/{z}-{x}_{y}.png
MAP_TILES_ATLAS=/tiles/atlas/{z}-{x}_{y}.png
MAP_TILES_SATELLITE=/tiles/satellite/{z}-{x}_{y}.png
